@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600;700&display=swap');
#root {
  max-width: 1280px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  background-color: #EDf2f7;
  font-family: Lexend, Helvetica, sans-serif;
}